.my-footer {
    background: $black;
    color: $yellow;
    position: relative;

    span {
        cursor: pointer;

        &:hover {
            color: $orange;
        }
    }

    .year {
        font-size: small;
    }
}